@font-face {
    font-family: 'atkinson_hyperlegible';
    src: url('/assets/fonts/atkinsonhyperlegible-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/atkinsonhyperlegible-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'atkinson_hyperlegible';
    src: url('/assets/fonts/atkinsonhyperlegible-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/atkinsonhyperlegible-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'atkinson_hyperlegible';
    src: url('/assets/fonts/atkinsonhyperlegible-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/atkinsonhyperlegible-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'atkinson_hyperlegible';
    src: url('/assets/fonts/atkinsonhyperlegible-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/atkinsonhyperlegible-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caslon_old_face';
    src: url('/assets/fonts/caslon_old_face_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/caslon_old_face_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caslons_egyptian_regular';
    src: url('/assets/fonts/caslonsegyptian-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/caslonsegyptian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}    
@font-face {
    font-family: 'caslons_egyptian_book';
    src: url('/assets/fonts/caslonsegyptian-book-webfont.woff2') format('woff2'),
         url('/assets/fonts/caslonsegyptian-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caslon_open_faceregular';
    src: url('/assets/fonts/caslon_open_face_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/caslon_open_face_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}