---
title: Maps archive
layout: base.njk
---
<ul class="map-list">
  {%- for map in collections.maps %}
    <li class="map-list-item">
        <ul>
            <li><a href="{{map.url}}"><h3>{{map.data.title}}</h3></a></li>
            <li>{{map.data.year}}</li>
            <li>{{map.data.publisher}}</li>
            <ul>
                {%for theme in map.data.themes %}
                <li>{{theme}}</li>
                {% endfor %}
            </ul>
        </ul>
    </li>
  {%- endfor -%}
</ul>